* {
  font-family: 'Press Start 2P', monospace;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

header {
  display: flex;
  background-color: #686f70;
  color: #fbfbfb;
  justify-content: space-between;
}

h2.title {
  margin-left: 30px;
}
div.button_container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.body_columns_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.body_column {
  flex: 1;
}
.body_column.left {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
}
.body_column.right {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
}

.sort_container {
  height: 250px;
  display: flex;
  background-color: lightsteelblue;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 5px;
  margin-bottom: 10px;
}

.sort_container_label {
  background-color: #686f70;
  color: #fbfbfb;
  margin-top: 215px;
  margin-left: 25px;
  position: absolute;
  font-size: 20px;
  padding: 5px;
}

.sort_bar {
  width: 100%;
}

input[type='button'] {
  border: 1px solid #fbfbfb;
  color: #fbfbfb;
  margin: 5px;
  font-size: 13px;
  background-color: transparent;
  height: 60%;
}
