.sort_container {
  height: 300px;
  display: flex;
  background-color: lightgrey;
  flex-direction: row;
  align-items: flex-end;
}

.sort_bar {
  width: 100%;
}

input[type='button'] {
  border: 1px solid black;
  margin: 5px;
  font-size: 16px;
}
