/* global */
* {
  font-family: monospace;
  box-sizing: border-box;
}
.app {
  margin: 10px;
  background-color: white;
}

/* Top bar */
.topbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 22px;
  margin: 5px;
  color: white;
}
.topbar-link-container {
  font-size: 22px;
  margin: 5px;
}
.topbar-link {
  margin: 15px;
  color: red;
}
.topbar-text {
  font-size: 22px;
  margin: 5px;
  color: white;
}

/* body flexboxes */
.body-column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.body-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 49.5%;
}
.sort-container-outer {
  margin-top: 10px;
}
.sort-container-label {
  background-color: black;
  color: white;
  padding-left: 5px;
  padding-top: 2px;
  font-size: 20px;
}
.sort-container {
  height: 200px;
  border: 1px solid black;
  padding-left: 2px;
  position: relative;
}
.sort-bar-container {
  height: 100%;
  display: inline-block;
  position: relative;
}
.sort-bar {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  width: 90%;
}
.sort-bar.sorted {
  background-color: firebrick;
}
.sort-bar.comparing {
  background-color: IndianRed;
}
.sort-bar.unsorted {
  background-color: lightgray;
}
